# editorconfig.org
root = true

[*]
indent_style             = tab
ident_size               = 4
tab_width				 = 4
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = false

[*.{less,css,js,sql,ini}]
charset = utf-8

[*.{json,js,conf}]
indent_style = space

[main]
ident_size = 4
tab_width  = 4

[*.md]
trim_trailing_whitespace = false

[*.yml]
indent_style = space
indent_size = 2